* {
  /*mobile first design*/
  box-sizing: border-box;
}
body {
  position: relative;
  background-image: url("../imgs/background.jpg"); width: 100vw;
}
.main h1 {
  position: relative;
  top: 40vh;
  text-align: center;
  position: 43vh;
  font-size: 7vh;
  color: tan;
}
.jobTitle {
  /*position: relative;*/
  top: 200vh;
  text-align: center;
  color: tan;
  font-size: 4vh;
  top: 38vh;
  left: 14vw;
}
#hamMenu {
  float: right;
  color: tan;
  position: 1vh;
  font-size: 5vh;
  padding-right: 1vw;
}
#bio {
  position: absolute;
  color: tan;
    font-size: 3vh;
  top: 8vh;
  left: 44vw;
  display: none;
}
#projectHeader {
  position: absolute;
  color: tan;
  font-size: 3vh;
  top: 59vh;
  left: 9vw;
  display: none;
}
#aboutButton {
  display: none;
}
#portfolioButton {
  display: none;
}
#contactButton {
  display: none;
}
#github {
  display: none;
}
#linkedIn {
  display: none;
}

/*Full-screen view*/
@media only screen and (min-width: 600px) {
  .main h1 {
    position: absolute;
    color: beige;
    font-size: 5vh;
    top: 32vh;
    left: 10vw;
  }

  .main h2 {
    position: absolute;
    color: beige;
    font-size: 3vh;
    top: 38vh;
    left: 14vw;

  }
  .main p {
    position: absolute;
    color: beige;
    font-size: 3vh;
    top: 38vh;
    left: 4vw;
  }
  .myProjects {
    width: 100vw;
    position: absolute;
    top: 83vh;
    left: 1vw;
    /*display: none;*/
  }
  .col-4 {
    width: calc(100%/6);
    float: left;
    /*border: 2px solid black;*/
  }
  .myProjects img{
    width: 75%;

  }

  #aboutButton {
    position: absolute;
    background-color: beige;
    color: darkblue;
    font-size: 2vh;
    top: 45vh;
    left: 8vw;
    width: 8vw;
    border-radius: 40%;
    overflow: hidden;
    display: inline-block;
  }
  #portfolioButton {
    position: absolute;
    background-color: beige;
    color: darkblue;
    font-size: 2vh;
    top: 45vh;
    left: 18vw;
    width: 8vw;
    border-radius: 40%;
    overflow: hidden;
    display: inline-block;
  }
  #contactButton {
    position: absolute;
    background-color: beige;
    color: darkblue;
    font-size: 2vh;
    top: 45vh;
    left: 28vw;
    width: 8vw;
    border-radius: 40%;
    overflow: hidden;
    display: inline-block;
  }
  #github {
    position: absolute;
    color: beige;
    font-size: 8vh;
    top: 12vh;
    left: 14vw;
  }
  #linkedIn {
    position: absolute;
    color: beige;
    font-size: 8vh;
    top: 12vh;
    left: 9vw;
  }
  #bio {
    position: absolute;
    color: beige;
    font-size: 3vh;
    top: 8vh;
    left: 44vw;
    display: none;
  }
  #projectHeader {
    position: absolute;
    color: beige;
    font-size: 3vh;
    top: 59vh;
    left: 9vw;
    display: none;
  }
  #hamMenu {
    display: none;
  }
