* {
  box-sizing: border-box;
}
body {
  position: relative;
  background-image: url("background.jpg"); width: 100vw;
}
.main h1 {
  position: relative;
  top: 40vh;
  text-align: center;
  position: 43vh;
  font-size: 7vh;
}
.jobTitle {
  /*position: relative;*/
  top: 200vh;
  text-align: center;
  color: black;
  font-size: 4vh;
  top: 38vh;
  left: 14vw;
}
.hamMenu {
  display: none;
  float: right;
  position: 2vh;
  font-size: 5vh;
}
#bio {
  position: absolute;
  color: black;
  font-size: 3vh;
  top: 8vh;
  left: 44vw;
  display: none;
}
  #projectHeader {
    position: absolute;
    color: black;
    font-size: 3vh;
    top: 59vh;
    left: 9vw;
    display: none;
}

@media only screen and (min-width: 600px) {
  .main h1 {
    position: absolute;
    color: black;
    font-size: 5vh;
    top: 32vh;
    left: 10vw;
  }

  .main h2 {
    position: absolute;
    color: black;
    font-size: 3vh;
    top: 38vh;
    left: 14vw;

  }
  .main p {
    position: absolute;
    color: black;
    font-size: 3vh;
    top: 38vh;
    left: 4vw;
  }

  #about {
    position: absolute;
    color: black;
    font-size: 2vh;
    top: 45vh;
    left: 8vw;
    width: 8vw;
    border-radius: 50%;
    overflow: hidden;
  }
  #portfolio {
    position: absolute;
    color: black;
    font-size: 2vh;
    top: 45vh;
    left: 18vw;
    width: 8vw;
    border-radius: 50%;
    overflow: hidden;
  }
  #contact {
    position: absolute;
    color: black;
    font-size: 2vh;
    top: 45vh;
    left: 28vw;
    width: 8vw;
    border-radius: 50%;
    overflow: hidden;
  }
  #github {
    position: absolute;
    color: black;
    font-size: 8vh;
    top: 12vh;
    left: 14vw;
  }
  #linkedIn {
    position: absolute;
    color: black;
    font-size: 8vh;
    top: 12vh;
    left: 9vw;
  }
  #bio {
    position: absolute;
    color: black;
    font-size: 3vh;
    top: 8vh;
    left: 44vw;
    display: none;
  }
  #projectHeader {
    position: absolute;
    color: black;
    font-size: 3vh;
    top: 59vh;
    left: 9vw;
  }
  }
